doctype html
html
  head
    title Fitness Goal Tracker
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/styles.css")
  body
    header
      h1 Fitness Goal Tracker
      nav
        ul
          li: a(href="/") Home
          li: a(href="/login") Login
          li: a(href="/register") Register
          li: a(href="/goals") Goals
          li: a(href="/workouts") Workouts
    main
      block content
    footer
      p © 2025 Fitness Tracker
