extends layout

block content
  h2 Your Workouts
  ul
    each workout in workouts
      li #{workout.type} - #{workout.duration} min - #{workout.caloriesBurned} kcal

  form(action="/workouts" method="POST")
    input(type="text" name="type" placeholder="Workout Type" required)
    input(type="number" name="duration" placeholder="Duration (minutes)" required)
    input(type="number" name="caloriesBurned" placeholder="Calories Burned" required)
    button(type="submit") Add Workout
